*{
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 960px;
	height: 100px;
	padding: 20px;
}

	img{
		width: 50%;
		height: 50%;
		padding: 10px;
	}
	h1{
		color: orange;
		font-size: 60px;
		padding: 10px;
		text-align: center;
	}
	h2{
		font-size: 50px;
		padding: 10px;
	}
	p{
		padding: 10px;
		font-size: 30px;
	}
	li{
		padding: 10px;
		font-size: 30px;
	}


